In [1]:
#1
def summ(a, b):
    return a * b
print(summ(5, 2))

10

In [8]:
#2
def mul(a=1, b=1, c=1):
    return a*b*c
print(mul(2, 3))

6

In [57]:
#3
a1 = (15, 10 ,5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10 ,15, 20)

def mul(a=1, b=1, c=1):
    return a*b*c

print(mul(*a1))
print(mul(*a2))
print(mul(*a3))
print(mul(*a4[:3]))
print(mul(*a4[-3:]))

750
3
3850
750
3000

In [3]:
#4
import functools as f

a1 = (15, 10 ,5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10 ,15, 20)

def mul(*args):
    res = f.reduce(lambda x, y: x*y, args, 1) 
    return res

print(mul(*a1))
print(mul(*a2))
print(mul(*a3))
print(mul(*[2, 3, 4, 5, 6, 3, 4, 5, 6, 78, 88, 55]))

750
3
3850
97853184000

In [96]:
#5
def add(a, b):
    return a + b
def sub(a, b):
    return a - b
def mul(a, b):
    return round(a*b)
def div(a, b):
    return round(a/b) if b!= 0 else 'ошибка'


op = int(input()), input(), int(input())
if op[1] == '+':
    result = add(op[0], op[-1])
elif op[1] == '-':
    result = sub(op[0], op[-1])
elif op[1] == '*':
    result = mul(op[0], op[-1])
elif op[1] == '/':
    result = div(op[0], op[-1])
else:
    print("Ошибка: Некорректная операция!")

print(result)

1

In [102]:
#6
def calc(exp):
    exp = exp.split()
    if exp[1] in ('+', '-', '*', '/', '^', '%'):
        if exp[1] =='+':
            return int(exp[0]) + int(exp[-1])
        if exp[1] =='-':
            return int(exp[0]) - int(exp[-1])
        if exp[1] =='*':
            return int(exp[0]) * int(exp[-1])
        if exp[1] =='/':
            return int(exp[0]) // int(exp[-1])
        if exp[1] =='^':
            return int(exp[0]) ** int(exp[-1])
        if exp[1] =='%':
            return int(exp[0]) % int(exp[-1])
    else:
        return 'Ошибка'



print(calc('13 - 5'))
print(calc('2 ^ 5'))
print(calc('5 / 2'))
print(calc('5 % 2'))
print(calc('13 * 5'))

8
32
2
1
65

In [14]:
#7
def message(
        brand = 'не задано', 
        model = 'не задано', 
        colour = 'черный', 
        year = 2000, 
        probeg = 0, 
        num = 'X000AM00',
        price = '1 000 000'
    ):
    return f'''Автомобиль марки: {brand}, модели: {model}, цвета: {colour}, {year} года выпуска, 
    с пробегом: {probeg} км, c номерным знаком: {num}, цена: {price} руб.'''

print(message(), end='\n\n')

c1 = {
        'brand':'BMW', 'model':'X5', 
        'colour':'белый', 
        'year':2006, 
        'probeg':'215 000', 
        'num':'X012АМ77',
        'price':'1 115 000'
        }

print(message(*c1.values()), end='\n\n')
print(message(brand = 'Toyota', model = 'Camry'))

Автомобиль марки: не задано, модели: не задано, цвета: черный, 2000 года выпуска,
    с пробегом: 0 км, c номерным знаком: X000AM00, цена: 1 000 000 руб.

Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска,
    с пробегом: 215 000 км, c номерным знаком: X012АМ77, цена: 1 115 000 руб.

Автомобиль марки: Toyota, модели: Camry, цвета: черный, 2000 года выпуска,
    с пробегом: 0 км, c номерным знаком: X000AM00, цена: 1 000 000 руб.

In [121]:
#8
def to_text(s):
    
    s = str(s)
    digits = {
            '0': 'ноль',
            '1': 'один', 
            '2': 'два',
            '3': 'три',
            '4': 'четыре',
            '5': 'пять', 
            '6': 'шесть', 
            '7': 'семь', 
            '8': 'восемь', 
            '9': 'девять', 
            '10': 'десять', 
            '11': 'одиннадцать', 
            '12': 'двенадцать', 
            '13': 'тринадцать', 
            '14': 'четырнадцать', 
            '15': 'пятнадцать', 
            '16': 'шестнадцать', 
            '17': 'семнадцать', 
            '18': 'восемнадцать', 
            '19': 'девятнадцать', 
            '20': 'двадцать', 
            '30': 'тридцать', 
            '40': 'сорок', 
            '50': 'пятьдесят', 
            '60': 'шестьдесят', 
            '70': 'семьдесят',
            '80': 'восемьдесят', 
            '90': 'девяносто'
        }
    if s in digits:
        return digits[s]
    else:
        s = list(s)
        return digits[s[0] + '0'] + ' ' +digits[s[-1]]
    
print(to_text(15))
print(to_text(54))
print(to_text(99))

пятнадцать
пятьдесят четыре
девяносто девять

In [18]:
#9
def to_int(s):
    digits = {
        "ноль": 0,
        "один": 1,
        "два": 2,
        "три": 3,
        "четыре": 4,
        "пять": 5,
        "шесть": 6,
        "семь": 7,
        "восемь": 8,
        "девять": 9,
        "десять": 10,
        "одиннадцать": 11,
        "двенадцать": 12,
        "тринадцать": 13,
        "четырнадцать": 14,
        "пятнадцать": 15,
        "шестнадцать": 16,
        "семнадцать": 17,
        "восемнадцать": 18,
        "девятнадцать": 19,
        "двадцать": 20,
        "тридцать": 30,
        "сорок": 40,
        "пятьдесят": 50,
        "шестьдесят": 60,
        "семьдесят": 70,
        "восемьдесят": 80,
        "девяносто": 90,
        "сто": 100,
        "двести": 200,
        "триста": 300, 
        "четыреста": 400,
        "пятьсот": 500, 
        "шестьсот": 600,
        "семьсот": 700,
        "восемьсот": 800,
        "девятьсот": 900
    }

    if s in digits:
        return digits[s]
    
    s = s.split()
    if len(s) == 2:
        return digits[s[0]] + digits[s[-1]]
    else:
        return digits[s[0]] + digits[s[1]] + digits[s[-1]]
        
    
print(to_int('три'))
print(to_int('тридцать три'))
print(to_int('девяносто девять'))
print(to_int('девятьсот девяносто пять'))
print(to_int('четыреста двадцать три'))

3
33
99
995
423

In [25]:
athletes = [('Дима', 10, 130, 35), ('Тимур', 11, 135, 39), ('Руслан', 9, 140, 33), ('Рустам', 10, 128, 30), ('Амир', 16, 170, 70), ('Рома', 16, 188, 100), ('Матвей', 17, 168, 68), ('Петя', 15, 190, 90)]
def f(x):
    return athletes[0]
def g(x):
    return athletes[1]    
def c(x):
    return athletes[2]
def v(x):
    return athletes[-1]
func = [f, g, c, v]
n = int(input())
print(*(i for i in sorted(athletes, key=func[n])), sep='\n')

('Дима', 10, 130, 35)
('Тимур', 11, 135, 39)
('Руслан', 9, 140, 33)
('Рустам', 10, 128, 30)
('Амир', 16, 170, 70)
('Рома', 16, 188, 100)
('Матвей', 17, 168, 68)
('Петя', 15, 190, 90)

In [28]:
def map(function, items):
    result = []
    for item in items:
        result.append(function(item))
    return result


numbers = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.12013, 23.22222, 90.09873, 45.45, 314.1528, 2.71828, 1.41546]
def f(x):
    return round(x, 2)
print(map(f, numbers))

[3.57, 5.58, 4.01, 56.24, 9.01, 32.12, 23.22, 90.1, 45.45, 314.15, 2.72, 1.42]

In [15]:
def map(function, items):
    result = []
    for item in items:
        result.append(function(item))
    return result


def filter(function, items):
    result = []
    for item in items:
        if function(item):
            result.append(item)
    return result


numbers = [77, 293, 28, 242, 213, 285, 71, 286, 144, 276, 61, 298, 280, 214, 156, 227, 228, 51, -4, 202, 58, 99, 270, 219, 94, 253, 53, 235, 9, 158, 49, 183, 166, 205, 183, 266, 180, 6, 279, 200, 208, 231, 178, 201, 260, -35, 152, 115, 79, 284, 181, 92, 286, 98, 271, 259, 258, 196, -8, 43, 2, 128, 143, 43, 297, 229, 60, 254, -9, 5, 187, 220, -8, 111, 285, 5, 263, 187, 192, -9, 268, -9, 23, 71, 135, 7, -161, 65, 135, 29, 148, 242, 33, 35, 211, 5, 161, 46, 159, 23, 169, 23, 172, 184, -7, 228, 129, 274, 73, 197, 272, 54, 278, 26, 280, 13, 171, 2, 79, -2, 183, 10, 236, 276, 4, 29, -10, 41, 269, 94, 279, 129, 39, 92, -63, 263, 219, 57, 18, 236, 291, 234, 10, 250, 0, 64, 172, 216, 30, 15, 229, 205, 123, -105]

def f(x):
    if len(str(x)) == 2 or len(str(x)) == 3 and str(x)[0] == '-':
        if x % 7 ==0:
            return True
def g(x):
    return x**2
print(sum(map(g, filter(f, numbers))))

25186

In [42]:
from functools import reduce

numbers = range(10)
obj = map(lambda x: x + 1, numbers)
obj = filter(lambda x: x % 2 == 1, obj)
result = reduce(lambda x, y: x + y, obj, 0)

print(result)

25

In [59]:
countries = ['Russia', 'USA', 'UK', 'Germany', 'France', 'India']
capitals = ['Moscow', 'Washington', 'London', 'Berlin', 'Paris', 'Delhi']
population = [145_934_462, 331_002_651, 80_345_321, 67_886_011, 65_273_511, 1_380_004_385]
res = list(zip(countries, capitals, population))
for i in range(len(res)):
    a, b, c = res[i]
    print('{} is the capital of {}, population equal {} people.'.format(a, b, c))

Russia is the capital of Moscow, population equal 145934462 people.
USA is the capital of Washington, population equal 331002651 people.
UK is the capital of London, population equal 80345321 people.
Germany is the capital of Berlin, population equal 67886011 people.
France is the capital of Paris, population equal 65273511 people.
India is the capital of Delhi, population equal 1380004385 people.